<!DOCTYPE html>
<html>
<head>
  <title>Cisco Device SNMP</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Cisco Device Inventory</h1>
        <table class="table table-striped">
        <tr>
            <th>Device Name</th>
            <th>IP Address</th>
            <th>SNMP Config</th>
        </tr>
        {% for device in devices %}
        <tr>
            <td>
                <a href="{{ url_for('device_logs', device_ip=device.ip) }}">{{ device.name }}</a>
            </td>
            <td>
                {{ device.ip }}
            </td>
            <td>
                {{ device.snmp_config }}
            </td>
        </tr>
        {% endfor %}
        </table>
    </div>
</body>
</html>
